
body {
  display: inline-flex;
  font-family: sans-serif;
  background-color: #5a2d0c;
}

h1 {
  text-align: justify;
  color: snow;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

a {
display: grid;
margin-top: 1.5em;
padding: 1em;
}

a:visited {
  color: blue;
}

a:hover {
  color: yellow;
}

img:hover {
  filter: invert(100%);
}
